.header-container {
  width: 100%;
  padding-top: 50px;
  background-color: #00b0b0;
  background-image: url("/images/arabesque.png");
  color: white;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.header-background-image {
  height: 520px;
  width: 100%;
}

header img {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}