button[type="submit"] {
  background-color:  #4056A1 ;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button-char {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee';
  padding-bottom: 20px;
}

.prompt {
  display: flex;
  flex-direction: column;
}

.horizonLine {
  border-bottom: 5px solid #000000;
}

.new-tweet {
  padding-bottom: 30px;
}

#tweet-text {
  background-color: #f4f1ec;
  border: none;
  outline: none;
  resize: none;
}